:root {
    --theam: rgb(48, 34, 25);
    --hcolor: rgb(59, 58, 56);
    --orange: rgb(164, 91, 41);
    --lighttheam: #624430;
    --colorgray: rgb(226, 222, 220);
    --heading-font: "Quintessential", serif;
}

.nav-row {
    background-color: var(--theam);
    font-size: 1.1rem;
    position: sticky;
    top: 0px;
    right: 0px;
    box-shadow: 2px 2px 10px var(--theam);
    font-family: sans-serif;
    z-index: 999;
}

.nav-row a {
    color: white;
}

.nav-row a:hover {
    color: var(--orange);
}

.nav-row .moving-line {
    height: 2px;
    background-color: var(--orange);
    width: 0%;
    margin: 0px auto;
    transition: all 0.3s ease;
}

@media (min-width:992px) {
    .nav-row a:hover+.moving-line {
        width: 90% !important;
        background-color: var(--orange);

    }
}

.l1 {
    height: 100px;
    width: 150px;
}

.t1 {
    height: 100px;

}
@media (max-width:1075px){
    .t1 {
    display: none;

}
}

.nav-row button {
    background-color: var(--orange);
    color: white;
}

.nav-row button:hover {
    background-color: white;
    color: var(--orange);
}

.banner {
    background-image: url(../src/assets/banner.png);
    background-size: cover;
    height: 90vh;
}

.heading {
    /* text-transform: uppercase; */
    font-family: var(--heading-font);
}

.heading>span {
    color: var(--orange);
}

.line1 {
    height: 2px;
    width: 120px;
    background-color: var(--orange);
    margin: 0px 5px;

}

.line2 {
    height: 2px;
    width: 10px;
    background-color: black;

}

.service-card i {
    color: var(--lighttheam);
    font-size: 2.5rem;
}

.service-card {
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    transition: all 0.4s linear;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    position: relative;

}

.service-card:hover {
    border-bottom: 2px solid var(--orange);
    border-left: 2px solid var(--orange);
    box-shadow: 3px 3px 20px var(--orange);
}

.service-card .l {
    height: 2px;
    margin: auto;
    width: 30%;
    background-color: var(--lighttheam);
    transition: all 0.4s ease;

}

.service-card:hover .l {
    width: 50%;
}

.service-card button {
    position: absolute;
    bottom: -40px;
    background-color: var(--orange);
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 0px;

}

.service-card button:hover {
    background-color: var(--orange);
    color: white;

}

.our-number img {
    height: 50px;
}

.our-num-row {
    background-color: var(--colorgray);
}

.ournum-row img {
    height: 80px;
}

.ournum-row .card {
    background-color: var(--colorgray);
}

.process-row img {
    height: 50px;

}

.process-row .card {
    transition: all 0.3s ease;
    min-height: 270px;


}

.process-row .card:hover {
    box-shadow: 2px 2px 20px var(--theam);
    transform: scaleY(1.05);
}

.process-row .card h3 {
    color: var(--lighttheam);
}

.card-left {
    background-image: url(../src/assets/client.webp);

    background-size: cover;
}

.card-right button {
    background-color: var(--orange);
    color: white;
}

.card-right button:hover {
    background-color: white;
    color: var(--orange);
}

.testimonial-row .card {
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease;
}

.testimonial-row .card img {
    height: 500px;
    transition: all 0.3s ease;

}

.testimonial-row .card:hover img {

    transform: scale(1.05);

}

.review-text {
    position: absolute;
    top: 42%;
    left: 0%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
}

.review-text span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;

}

.review-text i {
    color: var(--orange);
}

.monitor-row button {
    background-color: var(--orange);
    border-radius: 0px;
    color: white;
}

.monitor-row button:hover {
    background-color: var(--orange);
    border-radius: 0px;
    color: white;
}

@media (max-width:1526px) {
    .monitor-row p {
        display: none;
    }
}

.footer-row {
    background-color: var(--theam);
    color: white;

}

.footer-row ul {
    list-style: none;
}

.footer-row ul>li {
    margin-left: -30px;
    padding: 5px 0px;
}

.footer-row ul>li>a {
    text-decoration: none;
    color: white;
}

.footer-row h4 {

    color: gray;
}

.footer-row ul>li>a:hover {
    color: var(--orange);
}

.social-media span {
    display: inline-block;
    padding: 7px 10px;
    font-size: 1.3rem;
    border-radius: 50%;
    border: 1px solid var(--orange);
    color: var(--orange);
    margin: 0px 5px;
}

.social-media span:hover {


    border: 1px solid white;
    color: white;
    background-color: var(--orange);

}

.enq-btn {
    position: fixed;
    top: 50%;
    right: -10px;
    rotate: 90deg;
    background-color: var(--orange);
    color: white;
    box-shadow: 1px 1px 10px var(--orange);
    border-radius: 0px;
}

.enq-btn:hover {
    background-color: var(--orange);
    color: white;

}




/* abhishek css or dropdown css */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* margin-right:10 px; */
}

.form-input {
    border-radius: 20px;
    border-color: gray;

    margin-top: 5px;
}

.btn-login {
    border-radius: 20px;
    background: var(--lighttheam);
    border: none;
    color: white;
}

.slide-text {
    color: var(--colorgray);
}

.bg-img {
    background-color: var(--colorgray);
}

.text {
    color: var(--lighttheam);
}

.user-dash {
    background: rgb(84, 35, 0);
}

.btn-dash {
    border: none;
    color: white;
    width: 180px;
}

.btn-dash:hover {
    background: rgba(245, 216, 198, 0.379);
    border: none;
    width: 180px;
    color: white;

}

.user-card {
    background: var(--orange);
}

.bg-color-user-dash {
    background: var(--colorgray);
}

.overflow {
    height: 100vh;
    overflow-y: scroll;
}

.heading-form {
    border-bottom: 5px var(--lighttheam) solid;
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    color: var(--hcolor);
}

.con-form {
    border-bottom: 2px var(--lighttheam) solid;
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 2px;
    color: var(--hcolor);
}

.side-nav ul>li>Link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

}
/* abhishek css end */

/* other page css */
.conbanner {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/assets/conbanner.jpg);

    background-size: cover;
    background-position: center;
    height: 60vh;
}

.conbanner a,
.conbanner i {
    text-decoration: none;
    color: white;
}